body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(../img/background3.jpg);
}

.navigasi {
    height: 46px;
    ;
}

.navigasi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigasi li {
    float: left;
}

.navigasi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigasi li a:hover:not(.active) {
    background-color: #111;
}

.navigasi .active {
    background-color: #ff0000;
}


a {
    text-decoration: none;
}

.karakter_belakang {
    background-image: linear-gradient(rgba(185, 255, 243, 0.5), rgba(31, 12, 117, 0.5)),
        url(../img/aesthetic.jpg);
    height: 84%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.karakter_text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
}

.container {
    width: 900px;
    margin-left: 7%;
}

.contain1 {
    background-color: #333;
    height: 84%;
}
.contain2 {
    margin-top: 10%; 
    margin-bottom: 10%;  

    
}
.path {
    font-weight: bold;
    margin-top: 2%;
}

.header .judul {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 2%;
}

.header p {
    font-size: 18pt;
}

.header .date {
    font-size: 14pt;
}

.content {
    font-size: 14pt;
    line-height: 1.5;
}

.gambar_blog {
    width: 480px;
    height: 300px;
}

.judul_blog {
    font-size: 14pt;
}

.isi_blog {
    font-size: 12pt;
}

.oleh_blog {
    font-size: 12pt;
}

.tanggal_blog {
    font-size: 10pt;
}
.karakter_blog1 {
    margin-top: 3%;
    height: 500px;
    background-image: url(../img/Valorant.jpg);
    background-size: cover;
}

.karakter_blog2 {
    margin-top: 3%;
    height: 500px;
    background-image: url(../img/Valorant_Reyna.jpg);
    background-size: cover;
}

.karakter_map {
    margin-top: 3%;
    height: 500px;
    background-image: url(../img/map.jpg);
    background-size: cover;
}

.footer {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12pt;
}
